<hr>
<%= form_for @snippet do |f| %>
<div>
  <%= f.label :kind %>
  <%= f.collection_select :category_id, Category.all, :id, :name %>
</div>
<div>
  <%= f.label :title %>
  <%= f.text_field :title  %>
</div>
<div>
  <%= f.label :work %>
  <%= f.text_area :work %>
</div>
  <%= f.submit  %>
<% end %>
